/*
   FuckNitro v0.2.0
   (c) kurulen, 2023

   Attempts to hide every Nitro-related element on Discord.
   Works well with the NoPendingCount plugin.
   
   Questions? hello@ataraxia.ws
*/

:root {
    --placeholder-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAxJREFUCNdjUFJSAgAA0ABnkoj/KQAAAABJRU5ErkJggg==');
}

[aria-label='User Badges'],
[class*="avatarDecoration"],
[class*="premiumIcon"],
[aria-label='Send a gift'] {
    visibility: hidden !important;
}

[data-list-item-id*="nitro"],
[data-list-item-id*="shop"],
[class*="premiumTab"],
[role="tab"]:nth-of-type(13),
[role="tab"]:nth-of-type(14),
[role="tab"]:nth-of-type(15),
[role="tab"]:nth-of-type(16),
[role="tablist"] [class*="header"],
[role="tablist"] [class*="separator"],
[class*="progressBarContainer"],
[class*="progressFraction"] > [class*="directionRight"],
[id*="guild-header-popout-premium-subscribe"],
[class*="tryItOutSection"],
[class*="premiumFeatureBannerBackground"],
[class*="newBackgroundTooltipContainer"],
[class*="sectionsContainer"] [class*="customizationSection"]:nth-of-type(4),
[class*="customizationSection"]:nth-of-type(5),
[id*="profile-customization-tab"] [class*="containerDefaultMargin"],
[class*="children"] [class*="formNotice"],
[class*="upsellOverlayContainer"],
[class*="remiumHoverState"],
[class*="popoutContainer"] [class*="ctaButton"],
[class*="profileEffects"],
[class*="reactionEmojiDetails"],
[class*="otherEmojisContainer"],
[aria-label="ADD_PACK"],
[class*="burstGlow"],
[aria-label="UNAVAILABLE"],
[class*="burstReactionTooltipPrompt"] div {
    display: none !important;
}

[class*="topSection"] [class*="header"],
[class*="pointerEvents"],
[class*="avatar"],
[class*="header"] [class*="guildIcon"],
ul[aria-label*="Channels"] div[class*="containerWithMargin"] {
    pointer-events: none !important;
}

[class*="relationshipButtons"],
[class*="avatarWrapper"] {
    pointer-events: all !important;
}

[class*="bannerPremium"] {
    background: var(--placeholder-url) !important;
}

/* Optional fixes: Vencord */
/* Destroy some extra Vencord upselling that we didn't destroy with the base filters */
[class*="vc-settings-donate"] {
    display: none !important;
}
