/*
   FuckNitro v0.2.1
   (c) kurulen, 2023

   Attempts to hide every Nitro-related element on Discord.
   Works well with the NoPendingCount plugin.
   
   Questions? hello@ataraxia.ws
*/

:root {
    --placeholder-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAxJREFUCNdjiEj9BAACyAGwDgY9BAAAAABJRU5ErkJggg==');
}

[class*='profileBadges'],
[class*="avatarDecoration"],
[class*="premiumIcon"] {
    visibility: hidden !important;
}

[data-list-item-id*="nitro"],
[data-list-item-id*="shop"],
[class*="premiumTab"],
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] [role="tab"]:nth-of-type(13),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] [role="tab"]:nth-of-type(14),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] [role="tab"]:nth-of-type(15),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] [role="tab"]:nth-of-type(16),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] div:nth-of-type(5),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] div:nth-of-type(10),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] div:nth-of-type(11),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] div:nth-of-type(12),
[class*="progressBarContainer"],
[class*="progressFraction"] > [class*="directionRight"],
[id*="guild-header-popout-premium-subscribe"],
[class*="tryItOutSection"],
[class*="premiumFeatureBannerBackground"],
[class*="newBackgroundTooltipContainer"],
[class*="sectionsContainer"] [class*="customizationSection"]:nth-of-type(4),
[class*="customizationSection"]:nth-of-type(5),
[id*="profile-customization-tab"] [class*="containerDefaultMargin"],
[class*="children"] [class*="formNotice"],
[class*="upsellOverlayContainer"],
[class*="remiumHoverState"],
[class*="popoutContainer"] [class*="ctaButton"],
[class*="profileEffects"],
[class*="reactionEmojiDetails"],
[class*="otherEmojisContainer"],
[aria-label="ADD_PACK"],
[class*="burstGlow"],
[aria-label="UNAVAILABLE"],
[class*="burstReactionTooltipPrompt"] div,
[class*="sansAttachButton"] [class*="buttons"] > button {
    display: none !important;
}

[class*="topSection"] [class*="header"],
[class*="pointerEvents"],
[class*="avatar"],
[class*="header"] [class*="guildIcon"],
[id*="channels"] ul[class*="content"] div[class*="containerWithMargin"] {
    pointer-events: none !important;
}

[class*="relationshipButtons"],
[class*="avatarWrapper"] {
    pointer-events: all !important;
}

[class*="bannerPremium"] {
    background: var(--placeholder-url) !important;
}

/* Optional fixes: Vencord */
/* Destroy some extra Vencord upselling that we didn't destroy with the base filters */
[class*="vc-settings-donate"] {
    display: none !important;
}
