/*
   FuckNitro v0.2.2
   (c) kurulen, 2023

   Attempts to hide every Nitro-related element on Discord.
   Works well with the NoPendingCount plugin.
   
   Questions? hello@ataraxia.ws
*/

:root {
    --placeholder-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAxJREFUCNdjiEj9BAACyAGwDgY9BAAAAABJRU5ErkJggg==');
    --nbanner-height: 64px;
    --mbanner-height: 96px;
}

[class*='profileBadges'],
[class*='badgelist' i],
[class*="avatarDecoration"],
[class*="premiumIcon"],
[class*="bannerPremium"] {
    visibility: hidden !important;
}

[data-list-item-id*="nitro"],
[data-list-item-id*="shop"],
[class*="premiumTab"],
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] [role="tab"]:nth-of-type(13),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] [role="tab"]:nth-of-type(14),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] [role="tab"]:nth-of-type(15),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] [role="tab"]:nth-of-type(16),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] div:nth-of-type(5),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] div:nth-of-type(10),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] div:nth-of-type(11),
[class*="sidebarRegionScroller"] [class*="sidebar"] [class*="side"] div:nth-of-type(12),
[class*="progressBarContainer"],
[class*="progressFraction"] > [class*="directionRight"],
[id*="guild-header-popout-premium-subscribe"],
[class*="tryItOutSection"],
[class*="premiumFeatureBannerBackground"],
[class*="newBackgroundTooltipContainer"],
[class*="sectionsContainer"] [class*="customizationSection"]:nth-of-type(4),
[class*="customizationSection"]:nth-of-type(5),
[id*="profile-customization-tab"] [class*="containerDefaultMargin"],
[class*="children"] [class*="formNotice"],
[class*="upsellOverlayContainer"],
[class*="remiumHoverState"],
[class*="popoutContainer"] [class*="ctaButton"],
[class*="profileEffects"],
[class*="reactionEmojiDetails"],
[class*="otherEmojisContainer"],
[class*="guildSection"],
[aria-label="ADD_PACK"],
[class*="burstGlow"],
[aria-label="UNAVAILABLE"],
[class*="burstReactionTooltipPrompt"] div,
[class*="sansAttachButton"] [class*="buttons"] > button,
[class*="profileColors"] [class*="userPanelInnerThemed"] [class*="containerWrapper"],
[class*="hasCollectiblesUpsell"] [class*="userPopoutInner"] [class*="containerWrapper"],
[class*="userProfileModalInner"] [class*="topSection"] [class*="bannerSVGWrapper"] > mask,
[class*="userProfileModalInner"] [class*="topSection"] [class*="bannerSVGWrapper"] > foreignObject {
    display: none !important;
}

[class*="topSection"] [class*="header"],
[class*="pointerEvents"],
[class*="avatar"],
[class*="header"] [class*="guildIcon"],
[id*="channels"] ul[class*="content"] div[class*="containerWithMargin"] {
    pointer-events: none !important;
}

[class*="relationshipButtons"],
[class*="avatarWrapper"] {
    pointer-events: all !important;
}

/* These fixes resize premium (Nitro) banners to a non-premium (non-Nitro) state. */
[class*="bannerSVGWrapper"] {
    height: var(--nbanner-height) !important;
    min-height: var(--nbanner-height) !important;
    max-height: var(--nbanner-height) !important;
}

[class*="userProfileModalInner"] [class*="topSection"] [class*="bannerSVGWrapper"] {
    height: var(--mbanner-height) !important;
    min-height: var(--mbanner-height) !important;
    max-height: var(--mbanner-height) !important;
}

[class*="avatarPositionPremiumBanner"],
[class*="avatarWrapperNormal"],
[class*="userInfo"] [class*="avatar"] {
    top: 16px !important;
}



/* Optional fixes: Vencord */
/* Destroy some extra Vencord upselling that we didn't destroy with the base filters. */
[class*="vc-settings-donate"] {
    display: none !important;
}



/* Optional fixes: Nitpicks */
/* Remove the circle behind the status icon. */
:is([class*="avatar"], [class*="header"]) [class*="wrapper"] [class*="mask"] > circle {
    display: none !important;
}

:is([class*="avatar"], [class*="header"]) [class*="wrapper"] [class*="mask"] > :is(foreignObject, rect) {
    mask: unset !important;
    mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0.0) 70%) !important;
}

/* Remove the status icon on avatar modals and popouts, replacing it with a radial status indicator. */
[class*="avatarHoverTarget"] [class*="wrapper"] [class*="mask"] > rect {
    position: relative;
    z-index: 0;
    width: 80px;
    height: 80px;
    x: -0.24%;
    y: -0.24%;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.0) 62%, black 70%, rgba(0, 0, 0, 0.0) 71%) !important;
}

[class*="header"] [class*="wrapper"] [class*="mask"] > rect {
    position: relative;
    z-index: 0;
    width: 121px;
    height: 121px;
    x: -0.26%;
    y: -0.26%;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.0) 62%, black 70%, rgba(0, 0, 0, 0.0) 71%) !important;
}
